<% include ../partials/header %>
<div class="container">
<div class="row">
<div class="col-md-3">
<div class="lead text-center" style="margin-bottom:10px">YelpCamp</div>
<div class="list-group">
  <a href="#" class="list-group-item active">categorie-01</a>
  <a href="#" class="list-group-item">categorie-01</a>
  <a href="#" class="list-group-item">categorie-01</a>
</div>
</div>
<div class="col-md-9">
<div class="thumbnail">
<img src="<%= campground.image%>" style="width:100%">
<div class="caption">
<span class="pull-right">&#36; 9.00 /day</span>
<a href="#"><h4><%= campground.title%></h4></a>
<p><%= campground.description%></p>
<p><i>submitted by</i> <em><%=campground.author.username %></em></p>
<%if(currentUser && (campground.author.id).equals(currentUser._id)){%>
<a href="/campgrounds/<%= campground._id%>/edit" class="btn btn-primary btn-xs">edit</a>
<form action="/campgrounds/<%= campground._id%>?_method=DELETE" method="POST" style="display:inline;">
<button class="btn btn-danger btn-xs">delete</button>
</form>
<%}%>
</div>
</div>
<div class="well">
<div style="position:relative;margin-bottom:30px"><a href="/campgrounds/<%= campground._id %>/comment/new" class="btn btn-primary" style="position:absolute;top:-6px;right:0;">add new comment</a></div>
<% campground.comments.forEach(function(e){%>
<div class="row">
<div class="col-md-12">
<div style="margin:20px 0 10px 0;">
<strong><%=e.author.username%></strong>
<p><%=e.comment%></p>
<a href="/campgrounds/<%=campground._id%>/comment/<%= e._id %>/edit" class="btn btn-primary btn-xs">edit</a>
<form action="/campgrounds/<%= campground._id%>/comment/<%= e._id %>?_method=DELETE" method="POST" style="display:inline;">
<button class="btn btn-danger btn-xs">delete</button>
</form>
</div>
</div>
</div>
<%});%>
</div>
</div>
</div>
</div>
<% include ../partials/footer %>

